@font-face {
    font-family: 'Electrolux';
    src: url('fonts/ElectroluxSans-SemiBold.woff2') format('woff2'),
        url('fonts/ElectroluxSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    }

@font-face {
    font-family: 'Electrolux';
    src: url('fonts/ElectroluxSans-Regular.woff2') format('woff2'),
        url('fonts/ElectroluxSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
*{
    margin:0px;
    padding:0px;
    font-family:'Electrolux';
    line-height:100%;
}

body {
    overflow-x: hidden;
}

.um {
    display: grid;
    grid-template-columns: auto 640px 640px auto;
    background-color: rgb(04,30,80);
    max-width: 100%;
}

.div1,
.div2,
.div3 {
    height: 100px;
}

.logo {
    width: 150px;
    height: auto;
    padding-left: 180px;
    padding-top: 33px;
    max-width: 100%;
}

.img {
    position: absolute;
	width: 1244px;
	top: 0px;
	right: -600px;
	margin-right: 50%;
    max-width: 100%;
}

.image {
    position: absolute;
    left: 390px;
    max-width: 100%;
}

.dois {
    display: grid;
    grid-template-columns: auto 400px 580px auto;
    background-color: rgb(04,30,80);
    max-width: 100%;
}

.div5 {
    height: 300px;
    background-color: rgb(123, 138, 156);
    z-index: 1;
    max-width: 100%;
}

.div6 {
    z-index: 1;
    display: flex;
    flex-direction:column;
    background-color: rgb(123, 138, 156);
    height: 300px;
    text-align: center;
    max-width: 100%;
}

.div6 h1 {
    color: rgb(04,30,80);
    font-size: 33px;
    padding-top: 35px;
    padding-left: 100px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.div6 h2 {
    color: #fff;
    font-size: 25px;
    padding-left: 80px;
    padding-right: 20px;
    font-weight: normal;
}

.div7,
.div8 {
    height: 300px;
    max-width: 100%;
}

.tres {
    display: flex;
    flex-direction:row;
    background-color: rgb(04,30,80);
    height: 243px;
    color: #fff;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.tres-1 {
    display: flex;
    flex-direction:row;
    background-color: rgb(04,30,80);
    height: 200px;
    color: #fff;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.tres-1 h1 {
    font-size: 30px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.quatro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 400px;
    max-width: 100%;
}

.div9-div10 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1200px;
    height: 400px;
    max-width: 100%;
}

.div9 {
    display: flex;
    flex-direction:row;
    justify-content: right;
    height: 300px;
    width: 600px;
    padding: 50px 50px 50px 50px;
    padding-right: 200px;
    max-width: 100%;
}

.div9:hover {
    transition: 0.9s;
    -webkit-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20); 
}

.div10 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    color: rgb(04,30,80);
    text-align: left;
    height: 400px;
    width: 600px;
    max-width: 100%;
}

.div10 h1 {
    font-size: 45px;
    max-width: 100%;
    padding-bottom: 15px;
    padding-right: 200px;
}

.div10 h2 {
    font-size: 20px;
    font-weight: normal;
    padding-right: 150px;
}

.cinco {
    display: grid;
    grid-template-columns: auto 600px 600px auto;
    height: 400px;
    max-width: 100%;
}

.div11-1 {
    height: 400px;
    max-width: 100%;
}

.div11 {
    height: 400px;
    max-width: 100%;
    color: #fff;
    max-width: 100%;
    background-color: rgb(123, 138, 156);
}

.div11 h1 {
    font-size: 45px;
    padding-bottom: 15px;
    max-width: 100%;
    padding: 40px 70px 0 70px;
}

.div11 h2 {
    font-size: 20px;
    max-width: 100%;
    padding: 15px 100px 0 70px;
    font-weight: normal;
}

.div12 {
    height: 400px;
    max-width: 100%;
    background-color: rgb(123, 138, 156);
}

.div12-1 {
    height: 400px;
    background-color: rgb(123, 138, 156);
    max-width: 100%;
}

.img-bolsas {
    position: absolute;
    padding: 70px 0 0 30px;
    max-width: 100%;
}

.seis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 600px;
    max-width: 100%;
}

.divs14-15-16 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
}

.div14 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color:  rgb(223, 231, 234);
    height: 350px;
    width: 1200px;
    max-width: 100%;
    color: rgb(04,30,80);
    max-width: 100%;
}

.div14 h1{
    font-size: 45px;
    padding-top: 50px;
}

.img-bolsa-carne {
    max-width: 100%;
}

.img-bolsa-carne:hover {
    transition: 0.9s;
    -webkit-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20); 
}

.div15-16 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 300px;
    width: 1200px;
    max-width: 100%;
    background-color: rgb(223, 231, 234);;
}

.div15 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 300px;
    width: 600px;
    max-width: 100%;
    color: rgb(04,30,80);
    max-width: 100%;
}

.div15 h1 {
    color: rgb(04,30,80);
    padding-top: 170px;
    padding-left: 100px;
    padding-right: 50px;
    font-size: 40px;
}

.div16-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-content: start;
    height: 300px;
    width: 600px;
    color: rgb(04,30,80);
    padding-top: 50px;
    max-width: 100%;
}

.div16-1 h1 {
    font-size: 45px;
    max-width: 100%;
    padding-right: 140px;
}

.div16-1 h2 {
    font-size: 20px;
    max-width: 100%;
    padding-right: 140px;
    padding-top: 20px;
    font-weight: normal;
}

.div16-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color:  rgb(223, 231, 234);
    height: 100px;
    width: 1200px;
    max-width: 100%;
    color: rgb(04,30,80);
    max-width: 100%;
}

.div16-2 h3 {
    padding: 0 30px 0 30px;
    font-weight: normal;
    font-size: 12px;
    max-width: 100%;
}

.sete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.div16 {
    width: 1200px;
    height: 155px;
    max-width: 100%;
}

.img-packshot {
    max-width: 100%;
}

.oito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 300px;
    max-width: 100%;
}

.divs17-18-19 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    max-width: 100%;
    width: 1200px;
    height: 300px;
    background-color:  rgb(223, 231, 234);
    max-width: 100%;
}

.div17,
.div18,
.div19 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 180px;
    width: 600px;
    max-width: 100%;
}

.div20,
.div21,
.div22 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: start;
    height: 120px;
    width: 600px;
    max-width: 100%;
}

.icon1,
.icon2 {
    align-items: center;
    max-width: 100%;
} 

.div20 h1,
.div21 h1,
.div22 h1 {
    color: rgb(04,30,80);
    text-align: center;
    font-size: 20px;
    max-width: 100%;
}

.div20 h2 {
    color: rgb(04,30,80);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    font-weight: normal;
}

.dez {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.div23 {
    width: 1200px;
    background-color: rgb(123, 138, 156);
    max-width: 100%;
}

.div23 h1 {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    max-width: 100%;
}

.div23 h2 {
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 100%;
    font-weight: normal;
}

.div25 h3 {
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding: 20px;
    font-size: 13px;
    max-width: 100%;
    font-weight: normal;
}

.div24 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    background-color: rgb(123, 138, 156);
    max-width: 100%;
}

.div24-1,
.div24-2,
.div24-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    max-width: 100%;
}


.div25 {
    width: 1200px;
    background-color: rgb(123, 138, 156);
    max-width: 100%;
}

.dez-onze {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: rgb(04,30,80);
}

.div26 h1 {
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    max-width: 100%;
}

.onze {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: rgb(04,30,80);
    padding-bottom: 50px;
}

.div27 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    color: #fff;
    max-width: 100%;
}

.div28 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    color: #fff;
    max-width: 100%;
}

.div27-1 img,
.div27-2 img,
.div27-3 img {
    max-width: 100%;
    padding-bottom: 20px;
}

a.add-icon:visited {
    color: #fff;
}

a.add-icon:active {
    color: #fff;
}

.add-icon {
    text-decoration: none;
}

.add-icon:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.30);
    -ms-transform: scale(1.30);
    transform: scale(1.30);
    cursor: pointer; 
}

.div28-1,
.div28-2,
.div28-3 {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    width: 420px;
    height: auto;
    max-width: 100%;
    color: #fff;
    padding-bottom: 20px;
}

.add-icon {
    animation-name: pulsar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pulsar {
    from {
        box-shadow: 0 0 0px 0px #fff;
        border-radius: 70%;
        padding: 2px 2px 0 2px;
    }
    
    to {
        box-shadow: 0 0 0px 2px #fff;
        border-radius: 70%;
        padding: 2px 2px 0 2px;
    }
    
    }

.div29 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    color: #fff;
    max-width: 100%;
}

.div29-1,
.div29-2,
.div29-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    height: auto;
    max-width: 100%;
}

.div27 h3,
.div28 h3,
.div29 h3 {
    font-size: 20px;
    text-align: center;
}

.div27 h4,
.div28 h4,
.div29 h4 {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    font-weight: normal;
}

/*resposivo*/


@media only screen and (max-width:1050px) {

    body {
        overflow-x: hidden;
        }

    .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        position: relative;
        align-items: center;
        align-content: center;
        justify-content: center;
        right: 0;
        left: 0;
        margin-right: 0;
        margin-left: 0;
        margin: 0;
        height: auto;
        min-width: 1050px;
        padding-top: 125px;
        padding-right: 150px;
    }

    .um {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 370px; 
	}

    .div1 {
        display: none;
    }

    .logo {
        margin: 0;
        padding:0;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;    
        }

    .dois {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        }

    .div6 {
        height: 180px;
    }

    .div6 h1 {
        padding: 40px 50px 10px 50px;
    }

    .div6 h2 {
        padding: 10px 50px 10px 50px;
    }


    .div5,
    .div7,
    .div8 {
        display: none;
    }

    .tres {
        display: none;   
        }

    .quatro {
        display: flex;
        flex-direction: column;
        align-items: center;    
        height: 500px;
    }

    .div9-div10 {
        display: flex;
        flex-direction: column;
        align-items: center;    
        height: 500px;
    }

    .div9 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
        padding: 0;
        height: 250px;
        }

    .div9 img{
        margin: 0;
        padding: 0;
        height: 90%;
        align-items: center;
        align-content: center;
    }

    .div10{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 250px;
        padding: 0;
    }

    .div10 h1 {
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
    }

    .div10 h2 {
        text-align: center;
        padding: 0;
    }

    .img-bolsas {
        height: 25%;

    }

    .cinco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        text-align: center; 
        padding: 0;
        margin: 0;
        background-color: rgb(123, 138, 156);
        height: 600px;

        }

    .div11-1 {
        display:none;
    }

    .div11 {
        padding-bottom: 30px;
    }

    .img-bolsas {
        position: relative; 
        width: 80%;
        height: auto;
        margin: 0;
        padding: 0;
        padding-top: 20px;
    }

    .seis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: rgb(223, 231, 234);
        height: 750px;
    }

    .div14 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 200px;
    }

    .div14 h1 {
        padding: 0;
        margin: 0;
    }

    .img-bolsa-carne {
        align-items: center;
        width: 50%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .div15-16 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 450px;
    }
    .div15 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        text-align: center; 
        height: 220px;
    }

    .div16-1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .div16-1 h1,
    .div16-1 h2 {
        padding: 20px 0 0 0;
        margin: 0;
    }

    .div24 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .oito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        background-color: rgb(223, 231, 234);
    }

    .div17,
    .div18,
    .div19 {
        height: 150px;
    }

    .div20,
    .div21,
    .div22 {
        height: 100px;
    }

    .div20 h1,
    .div20 h2,
    .div21 h1,
    .div22 h1 {
        padding: 0;
    }

    .divs17-18-19 {
        height: 300px;
    }

    
    .divs20-21-22,
    .divs-19-22 {
        height: 200px;
    }

    .onze {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div27,
    .div28 {
        padding-bottom: 30px;

    }

}

@media only screen and (max-width:845px) {
    .img {
        left: 160px;
    }

    .div10 h1,
    .div10 h2 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .div14 h1 {
        font-size: 33px; 
    }

    .div16-1 h1,
    .div16-1 h2 {
        padding: 20px 0 0 0;
        margin: 0;
    }


    .oito {
        height: 400px;
    }
}



@media only screen and (max-width:691px) {
    .img-bolsas { 
        width: 60%;
    }

    .div6 h1 {
        font-size: 28px;
    }

    .div6 h2 {
        font-size: 20px;
    }

    .tres-1 h1 {
        font-size: 26px;
    }

    .div11 h1 {
        font-size: 40px;
    }
    
    .div11 h2 {
        font-size: 20px;
    }

    .div14 h1{
        font-size: 28px;
    }
    
    .div15 h1 {
        font-size: 35px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .div16-1 h1 {
        font-size: 40px;
        padding: 0 30px 0 30px;
    }
    
    .div16-1 h2 {
        font-size: 20px;
        padding: 20px 30px 0 30px;
    }
    
    .div20 h1,
    .div21 h1,
    .div22 h1 {
        font-size: 20px;
    }
    
    
    .div20 h2 {
        font-weight: normal;
    }
    
    .div23 h1 {
        font-size: 30px;
    }
    
    .div23 h2 {
        font-weight: normal;
    }
    
    .div25 h3 {
        font-size: 13px;
        font-weight: normal;
    }

    .div26 h1 {
        font-size: 25px;
    }

    .quatro {
        height: 600px;
    }

    .cinco {
        height: 450px;
    }

}


    @media only screen and (max-width:522px) {
        .tres-1 h1{
            padding: 50px;
        }
        
        .div9 {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
        
        .div10 h1,
        .div11 h1 {
            font-size: 35px;
        }

        .div11 h2 {
            text-align: center;
        }

        .div11 {
            margin: 0;
            padding: 0;
        }

        .div14 {
            height: 200px;
        }

        .div14 h1 {
            font-size: 25px;
        }


        .div15 h1 {
            font-size: 30px;
        }

        .div16-1 h1 {
            font-size: 35px;
        }
        
        .div16-1 h2 {
            font-size: 20px;
        }

        .quatro {
            height: 520px;
        }
}

    @media only screen and (max-width:437px) {
        .img {}

        .div6 h1 {
            font-size: 25px;
        }

        .div6 h2 {
            font-size: 18px;
        }
        
        .tres-1 h1{
            padding: 30px;
        }

        .div10 {
            height: 350px;
        }

        .div11 h2 {
            font-size: 18px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .div23 h2 {
            font-size: 20px;
        }

        .quatro {
            height: 600px;
        }

        .cinco {
            height: 400px;
        }

}

@media only screen and (max-width:394px) {
    .img { }

    .div6 h1 {
        font-size: 22px;
        padding: 50px 10px 0 10px;
    }

    .div6 h2 {
        font-size: 15px;
        padding: 10px 10px 0 10px;
    }

    .cinco {
        height: 350px;
    }

    .div11 h1 {
        font-size: 30px;
        padding: 20px 10px 0 10px;
    }

    .div11 h2 {
        font-size: 18px;
        padding: 10px 10px 0 10px;
    }

    .div16-1 h1 {
        font-size: 30px;
    }

    .div16-1 h2 {
        padding-bottom: 20px;
    }


}

@media only screen and (max-width:354px) {

    .div10 h2,
    .div11 h2 {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .div14 h1 {
        font-size: 22px;
    }

    .div23 h2{
        padding-left: 20px;
        padding-right: 20px;
    }

}
